<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="box" id="heading">
      <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">

        <!-- adding todos to html file -->
        <% for(let i = 0; i < newListItems.length; i++) { %>
          <div class="item">
            <input type="checkbox" name="" id="">
            <p> <%= newListItems[i] %> </p>
          </div>
        <% } %>
           
      <form action="/" method="post" class="add-todo">
        <input type="text" name="newItem" placeholder="New ToDo" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>

    </div>

    

    

  </body>
</html>
