<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>

     <% if(kindOfDay === "Tuesday") { %>
      <h1 style="color: purple"><%= kindOfDay %> ToDo List</h1>
    <% } else { %>
      <h1 style="color: blue"><%= kindOfDay %> ToDo List</h1>
    <% } %>


  </body>
</html>
